body {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("images/mega_logo_30deg.png");
  background-size: 120px;
  background-blend-mode: color;
  font-family: "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  color: #fff;
}
.header {
  background: orange; 
  border-radius: 12px;
  opacity: 0.7;
  margin-bottom: 4px;
}

.company-name {
  padding: 12px;
}

.company-name__motto {
  padding: 12px;
}

.navigation {
  font-size: 1.2em;
  background: orange;
  padding: 12px;
  border-radius: 12px;
}

.navigation__link {
  display: inline-block;
  padding: 8px 16px;
}

.navigation__link--selected {
  background: rgba(255, 0, 0, 0.5);  
  border-radius: 10px;
}

.company-name {
  font-size: 2em;
  padding-bottom: 0;
}

.section, .footer {
  border: 4px solid tomato;
  border-radius: 12px;
  margin-bottom: 4px;
  background: orange;;
  opacity: 0.7;
  padding: 12px;
}

.article__description {
  background: rgba(255, 0, 0, 0.5);
  padding: 16px;
  margin: 4px;
  border-radius: 12px;
}

.article__description--special {
  border: 4px dotted yellow;
}

.article__title {
  color: red;
  width: 100%;
  text-align: center;
}

.wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.article__image {
  background: blue;
  width 40%;
  padding: 10px 20px;
  display: inline-block;
}

  /* praca domowa - pusty na potrzeby przechwycenia przez JS i dodanie treści*/
  .empty {
    background: orange;
    opacity: 0.7;
    border-radius: 15px;
    font-size: 12px;
    color: greenyellow;
    padding: 2px 16px;
    text-align: center;
    }





img {
  width: 40%;
}


.logo {
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* niepotrzebe będzie
.article-with-img {
  display: flex;
  align-items: center;
} */


.section-header {
  color: limegreen;
}

.article-header {
  color: rgb(255, 0, 242);
}



